.profile {
  display: flex;
  align-items: center;

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-avatar);
  }

  &__text {
    margin-left: var(--spacer-l);
  }
}
