.article {
  margin-bottom: 7rem;

  &__title {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
  }

  &__date {
    margin: 0;
    font-style: italic;
  }

  &__description {
    margin: 0;
    line-height: 1.5;
  }
}
