.article {
  &__title {
    margin-top: var(--spacer-xxs);
    margin-bottom: 0;
  }

  &__date {
    margin: 0;
  }

  &__description {
    font-family: var(--font-family-serif);
    margin-top: var(--spacer-xs);
  }
}
