.projects {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 3.5rem -2rem;
}

.project {
  flex: 1 1 240px;
  margin: 2rem;
  min-height: 100px;

  &__title {
    margin: 0;
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 12px;
  }

  &__description {
    margin: 0;
  }
}
