.nav {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 2rem 0;
  margin: 0;
  font-size: 1rem;

  &__logo {
    display: flex;
    align-items: center;
    font-weight: bold;

    span {
      margin-left: 8px;
    }
  }

  li:first-child {
    margin-right: auto;
  }

  &__link {
    margin-left: 2rem;

    &.is-active {
      font-weight: bold;
    }
  }
}
