.nav {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0 calc(var(--padding-container) * -1);
  font-size: 1rem;

  &__logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: var(--spacer-l);

    img {
      width: 20px;
      height: 20px;
      margin-right: var(--spacer-xxs);
    }

    span {
      margin-left: 8px;
    }

    @media (max-width: 425px) {
      span {
        display: none;
      }
    }
  }

  li:first-child {
    margin-right: auto;
  }

  & &__link {
    padding: var(--spacer-m);

    &.is-active {
      font-weight: bold;
    }
  }
}
