.footer {
  text-align: center;
  padding: 0 0 3.5rem;
  font-size: calc(0.8 * var(--font-size-base));

  &__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }

    &__label {
      cursor: pointer;
      padding-left: 8px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
